@model List<Booking>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Client</th>
            <th>Movie</th>
            <th>Cinema</th>
            <th>Category</th>
            <th>Show Time</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Client.FullName>/td>
                <td>@item.ShowTime.Movie.Name</td>
                <td>@item.ShowTime.Movie.Cinema.Name</td>
                <td>@item.ShowTime.Movie.Category.Name</td>
                <td>@item.ShowTime.StartTime</td>
            </tr>
        }
    </tbody>

</table>